* {
    box-sizing: border-box;
}

body {
    background-color: rgb(104, 253, 203);
}
  
h1 {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: rgba(0, 0, 0, 0.774);
    margin: 25px;
}
  
p {
    padding: 10px 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    position: relative;
}
  
.section { 
    background-color: rgb(223, 188, 188);
    border: 5px solid rgb(65, 240, 21);
    margin: 10px; 
    padding: 10px;
    text-align: center;
    position: relative;
}
  
span {
    font-size: 30px;
    width: 140px;
    border: 5px solid rgb(30, 159, 245);
    font-weight: bold;
    text-align: center;
    float: right; top :0; right: 0; margin: 0;
    position: absolute;
}

#part-1 {
    background-color: rgb(231, 63, 63);
    color: rgb(0, 0, 0);
}

#part-2 {
    background-color: rgb(250, 0, 0);
    color: rgb(185, 255, 22);
}

#part-3 {
    background-color: rgb(223, 115, 233);
    color: rgb(18, 80, 33);
}

.row {
    width: 100%;
}
  
@media (min-width: 992px) {
    .col-lg-4 {
    width: 33.33%;
    float: left;
    }
}
  
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
    width: 50%;
    float: left;
    }

    .col-md-12 {
    width: 100%;
    float: left;
    }
}

@media (max-width: 767px)  {
    .col-sx-12 {
    float: left;
    width: 100%;
    }
}